<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="backend" class="semi-transparent-button with-border white-button" onclick="selected('backend')">Backend</a>
                    <a id="frontend" class="semi-transparent-button with-border white-button" onclick="selected('frontend')">Frontend</a>
                    <a id="fullstack" class="semi-transparent-button with-border white-button" onclick="selected('fullstack')">Full Stack</a>
                    <a id="dataan" class="semi-transparent-button with-border white-button" onclick="selected('dataan')">Data Analysis</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
